# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @digitaljoshua
content/api-reference/sequential-data-store  @digitaljoshua
content/api-reference/identity @digitaljoshua
content/api-reference/management @digitaljoshua
content/api-reference/data-views @osimarkrogers
content/api-reference/metadata @osimarkrogers
content/api-reference/operations @osimarkrogers
content/api-reference/data-ingress @osimarkrogers
content/api-reference/assets @lassato-OSI
content/api-reference/asset-rules @lassato-OSI
content/add-organize-data @VictoriaTouati-AVEVA @afloresOSI
content/communities @dwicinas-osisoft
content/visualize-data @lassato-OSI @afloresOSI
content/rom @lassato-OSI @afloresOSI
content/overview @lassato-OSI @afloresOSI
content/set-up @lassato-OSI @digitaljoshua

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# https://github.blog/2017-07-06-introducing-code-owners/
