# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @GiselleLeeOSI @digitaljoshua
content/api-reference/SequentialDataStore @GiselleLeeOSI @afloresOSI
content/api-reference/Identity @digitaljoshua
content/api-reference/Management @digitaljoshua
content/api-reference/DataViews @osimarkrogers
content/api-reference/Metadata @osimarkrogers
content/api-reference/Operations @osimarkrogers
content/api-reference/DataIngress @osimarkrogers
content/api-reference/Assets @lassato-OSI

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# https://github.blog/2017-07-06-introducing-code-owners/
